[Unit]
Description=Wrapper service for Graylog controlled collector
ConditionFileIsExecutable=/root/graylog-collector-sidecar

[Service]
StartLimitInterval=5
StartLimitBurst=10
ExecStart=/root/graylog-collector-sidecar

Restart=always
RestartSec=120
EnvironmentFile=-/etc/sysconfig/collector-sidecar

[Install]
WantedBy=multi-user.target

